/logs
.idea
/dispatcher/logs
/dispatcher/target
/node/logs
/node/target
/scripts

dispatcher/src/main/resources/YOURPUBLIC.pem
dispatcher/src/main/resources/myJks.jks
dispatcher/src/main/resources/myPem.pem
dispatcher/src/main/resources/myPkcs.p12
dispatcher/src/main/resources/application.properties
dispatcher/src/main/resources/application-dev.properties

node/src/main/resources/application.properties
node/src/main/resources/application-dev.properties
